@model CarInsurance.Models.Insuree

<h1>Edit Insuree</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CarYear"></label>
        <input asp-for="CarYear" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CarMake"></label>
        <input asp-for="CarMake" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CarModel"></label>
        <input asp-for="CarModel" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DUI"></label>
        <input asp-for="DUI" type="checkbox" />
    </div>

    <div class="form-group">
        <label asp-for="SpeedingTickets"></label>
        <input asp-for="SpeedingTickets" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CoverageType"></label>
        <select asp-for="CoverageType" class="form-control">
            <option value="Full">Full</option>
            <option value="Liability">Liability</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Quote"></label>
        <input asp-for="Quote" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Back</a>
</form>
